.result {
    /* font-family: 'Newsreader', serif; */
    font-size: 18px;
    color:#FEC544;
    background-color: #0B0010;
    padding: 20px; /* Add padding to ensure text isn't too close to the edges */
    margin: 0; /* Remove any default margins */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow to blend with background */
    /* display: inline-block; Ensure background color only covers the content */
    text-align: center; /* Center text within the result box */
}

